@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-calendar {
  max-width: 100%;
  background: white;
  font-family: var(--font-vazirmatn), Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-shadow: none !important;
}

.custom-calendar-today-day {
  background-color: #34a1ea !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid #1d9bf0 !important;
}
.custom-calendar-today-day::after {
  visibility: hidden;
}

.DatePicker__input.-rtl {
  font-size: 18px !important;
}